body {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.inter-typefont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.typewriter {
    text-align: center;
}

#typewriter-text {
    overflow: hidden; /* Ensures the text is not visible outside the containing element */
    border-right: .15em solid orange; /* Creates the typewriter cursor effect */
    white-space: nowrap; /* Keeps the text on a single line */
    margin: 0 auto; /* Centers the text horizontally */
    letter-spacing: .15em; /* Adjusts the spacing between characters */
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite; /* Animation for typing effect */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}